*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: #080808;
    margin: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgb(182, 149, 155);
}